resources:
  App\Entity\Movie:
    collectionOperations:
      get: ~
      populars:
        method: get
        path: /movies/populars
        controller: App\Controller\Movie\GetPopulars
      recents:
        method: get
        path: /movies/recents
        controller: App\Controller\Movie\GetRecents
      search:
        method: get
        path: /movies/search
        controller: App\Controller\Movie\GetSearch
        swagger_context:
          summary: Return the list of wanted movies
          parameters:
          - name: title
            in: query
            required: true
            type: string
    itemOperations:
      get: ~
      similars:
        method: get
        path: /movies/{id}/similars
        controller: App\Controller\Movie\GetSimilars
      casting:
        method: get
        path: /movies/{id}/casting
        controller: App\Controller\Movie\GetCasting